.DS_Store
.ipynb_checkpoints/
trash/
.venv/
env/

__pycache__/
*.py[cod]

.vscode/
.idea/

build/

dist/

datasets/

src/build/
src/env_analysis/

src/dist/
SR_1_5_2h_Pre-C_1h_NoIPTG_03_MCM.zip
SR_1_5_2h_Pre-C_1h_NoIPTG_03_MCM.nd2
SR_1_5_2h_Pre-C_3h_IPTG_After10h_05_MC.nd2
SR_1_5_2h_Pre-C_3h_IPTG_After10h_05_MC.zip
